# from .gitignore
modules/yt_tmp.wav
**/venv/
**/__pycache__/
**/outputs/
**/models/

**/.idea
**/.git
**/.github

# Ignore unnecessary files and directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/.git
**/.gitignore
**/.dockerignore
**/node_modules
**/dist
**/build
**/.env
**/.vscode
